{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourcegroups/onesdk4163?api-version=2016-02-01",
=======
      "RequestUri": "/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourcegroups/onesdk2551?api-version=2016-02-01",
>>>>>>> 99bbde85768e4aa70311e268685a49ac8ce3328b
      "RequestMethod": "HEAD",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "b04fa83f-e7e3-41d4-a31c-5f96f4fcd616"
=======
          "ffebabcb-5325-4ca4-9cda-a87f085e2c91"
>>>>>>> 99bbde85768e4aa70311e268685a49ac8ce3328b
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.ResourceManager.ResourceManagementClient/1.0.0.0"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ]
<<<<<<< HEAD
          "fd235f55-69ac-4834-b6cf-448e4099c9a2"
        ],
        "x-ms-correlation-request-id": [
          "fd235f55-69ac-4834-b6cf-448e4099c9a2"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20160617T040603Z:fd235f55-69ac-4834-b6cf-448e4099c9a2"
=======
          "ee251652-fa9a-429c-9b53-3203aeeeac75"
        ],
        "x-ms-correlation-request-id": [
          "ee251652-fa9a-429c-9b53-3203aeeeac75"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20160428T055105Z:ee251652-fa9a-429c-9b53-3203aeeeac75"
>>>>>>> 99bbde85768e4aa70311e268685a49ac8ce3328b
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
<<<<<<< HEAD
          "Fri, 17 Jun 2016 04:06:02 GMT"
=======
          "Thu, 28 Apr 2016 05:51:04 GMT"
>>>>>>> 99bbde85768e4aa70311e268685a49ac8ce3328b
        ]
      },
      "StatusCode": 404
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourcegroups/onesdk4163?api-version=2016-02-01",
=======
      "RequestUri": "/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourcegroups/onesdk2551?api-version=2016-02-01",
>>>>>>> 99bbde85768e4aa70311e268685a49ac8ce3328b
      "RequestMethod": "HEAD",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "58207590-2169-4c51-9ee6-b585501580b0"
=======
          "1[...]
    {
      "RequestUri": "/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourcegroups/onesdk2551/providers/Microsoft.Resources/deployments/onesdk369?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
>>>>>>> 99bbde85768e4aa70311e268685a49ac8ce3328b
        "User-Agent": [
          "Microsoft.Azure.Management.ResourceManager.ResourceManagementClient/1.0.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourceGroups/onesdk2551/providers/Microsoft.Resources/deployments/onesdk369\",\r\n  \"name\": \"onesdk369\",\r\n  \"properties\": {\r\n    \"parameters\": {\r\n      \"hostingPlanName\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"xDeploymentTestHost26668\"\r\n      },\r\n      \"siteLocation\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"East US\"\r\n      },\r\n      \"sku\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"Basic\"\r\n      },\r\n      \"workerSize\": {\r\n        \"type\": \"Int\",\r\n        \"value\": 0\r\n      }\r\n    },\r\n    \"mode\": \"Incremental\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"timestamp\": \"2016-04-28T05:51:21.3919159Z\",\r\n    \"duration\": \"PT13.0209059S\",\r\n    \"correlationId\": \"1c1fbcfd-3154-40fa-8303-2ce32138a4a2\",\r\n    \"providers\": [\r\n      {\r\n        \"namespace\": \"Microsoft.Web\",\r\n        \"resourceTypes\": [\r\n          {\r\n            \"resourceType\": \"serverfarms\",\r\n            \"locations\": [\r\n              \"eastus\"\r\n            ]\r\n          }\r\n        ]\r\n      }\r\n    ],\r\n    \"dependencies\": [],\r\n    \"outputResources\": [\r\n      {\r\n        \"id\": \"Microsoft.Web/serverfarms/xDeploymentTestHost26668\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "14998"
        ],
        "x-ms-request-id": [
          "5e420186-544a-40ac-be14-b6663c89283f"
        ],
        "x-ms-correlation-request-id": [
          "5e420186-544a-40ac-be14-b6663c89283f"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20160617T040611Z:5e420186-544a-40ac-be14-b6663c89283f"
=======
          "14997"
        ],
        "x-ms-request-id": [
          "bcf7de4d-ec36-4777-b102-9900cb5df299"
        ],
        "x-ms-correlation-request-id": [
          "bcf7de4d-ec36-4777-b102-9900cb5df299"
        ],[...]
[...]
    {
      "RequestUri": "/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1PTkVTREs0MTYzLUVBU1RVUyIsImpvYkxvY2F0aW9uIjoiZWFzdHVzIn0?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
=======
>>>>>>> 99bbde85768e4aa70311e268685a49ac8ce3328b
        "User-Agent": [
          "Microsoft.Azure.Management.ResourceManager.ResourceManagementClient/1.0.0.0"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ]
<<<<<<< HEAD
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14992"
        ],
        "x-ms-request-id": [
          "efa89ae0-e31e-4e80-bcd6-7fc28464aef3"
        ],
        "x-ms-correlation-request-id": [
          "efa89ae0-e31e-4e80-bcd6-7fc28464aef3"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20160617T040654Z:efa89ae0-e31e-4e80-bcd6-7fc28464aef3"
=======
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ],
        "x-ms-request-id": [
          "837b383c-3630-45b8-add1-8d33dcacbd38"
        ],
        "x-ms-correlation-request-id": [
          "837b383c-3630-45b8-add1-8d33dcacbd38"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20160428T055152Z:837b383c-3630-45b8-add1-8d33dcacbd38"
>>>>>>> 99bbde85768e4aa70311e268685a49ac8ce3328b
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
<<<<<<< HEAD
          "Fri, 17 Jun 2016 04:06:54 GMT"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1PTkVTREs0MTYzLUVBU1RVUyIsImpvYkxvY2F0aW9uIjoiZWFzdHVzIn0?api-version=2016-02-01"
=======
          "Thu, 28 Apr 2016 05:51:52 GMT"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1PTkVTREsyNTUxLUVBU1RVUy[...]
    {
      "RequestUri": "/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1PTkVTREsyNTUxLUVBU1RVUyIsImpvYkxvY2F0aW9uIjoiZWFzdHVzIn0?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
>>>>>>> 99bbde85768e4aa70311e268685a49ac8ce3328b
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14989[...]
