{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourcegroups/onesdk9783?api-version=2016-02-01",
=======
      "RequestUri": "/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourcegroups/onesdk3401?api-version=2016-02-01",
>>>>>>> 99bbde85768e4aa70311e268685a49ac8ce3328b
      "RequestMethod": "HEAD",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "c1147dfc-bbc7-4ce4-8541-6f6234c6b713"
=======
          "4ae04a26-56c6-4489-a2e8-3e3153933ebe"
>>>>>>> 99bbde85768e4aa70311e268685a49ac8ce3328b
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.ResourceManager.ResourceManagementClient/1.0.0.0"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "14844"
        ],
        "x-ms-request-id": [
          "4ab59707-5654-46be-ab85-1cd2e590506b"
        ],
        "x-ms-correlation-request-id": [
          "4ab59707-5654-46be-ab85-1cd2e590506b"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20160617T042810Z:4ab59707-5654-46be-ab85-1cd2e590506b"
=======
          "14999"
        ],
        "x-ms-request-id": [
          "4689d3f2-1b7f-41a5-b8f6-b7c7d7e7ccdb"
        ],
        "x-ms-correlation-request-id": [
          "4689d3f2-1b7f-41a5-b8f6-b7c7d7e7ccdb"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20160428T051530Z:4689d3f2-1b7f-41a5-b8f6-b7c7d7e7ccdb"
>>>>>>> 99bbde85768e4aa70311e268685a49ac8ce3328b
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
<<<<<<< HEAD
          "Fri, 17 Jun 2016 04:28:09 GMT"
=======
          "Thu, 28 Apr 2016 05:15:30 GMT"
>>>>>>> 99bbde85768e4aa70311e268685a49ac8ce3328b
        ]
      },
      "StatusCode": 404
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourcegroups/onesdk9783?api-version=2016-02-01",
=======
      "RequestUri": "/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourcegroups/onesdk3401?api-version=2016-02-01",
>>>>>>> 99bbde85768e4aa70311e268685a49ac8ce3328b
      "RequestMethod": "HEAD",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "3d03db6b-1906-43c5-8f62-a3de3aa68fd2"
=======
          "2[...]
    {
      "RequestUri": "/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourcegroups/onesdk3401/providers/Microsoft.Resources/deployments/onesdk7215/operationStatuses/08587397863282768439?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
>>>>>>> 99bbde85768e4aa70311e268685a49ac8ce3328b
        "User-Agent": [
          "Microsoft.Azure.Management.ResourceManager.ResourceManagementClient/1.0.0.0"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourceGroups/onesdk9783/providers/Microsoft.Resources/deployments/onesdk4120/operations/B022CC0E5C2FF579\",\r\n      \"operationId\": \"B022CC0E5C2FF579\",\r\n      \"properties\": {\r\n        \"provisioningOperation\": \"Create\",\r\n        \"provisioningState\": \"Running\",\r\n        \"timestamp\": \"2016-06-17T04:28:18.8762181Z\",\r\n        \"duration\": \"PT2.7001064S\",\r\n        \"trackingId\": \"f9c8ab8a-6ddf-4f8f-be0c-2a741d02e3ec\",\r\n        \"serviceRequestId\": \"d3fa3539-452d-4c06-99e4-b0fde6905210\",\r\n        \"statusCode\": \"Created\",\r\n        \"targetResource\": {\r\n          \"id\": \"/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourceGroups/onesdk9783/providers/Microsoft.Resources/deployments/nestedTemplate\",\r\n          \"resourceType\": \"Microsoft.Resources/deployments\",\r\n          \"resourceName\": \"nestedTemplate\"\r\n        }\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
=======
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
>>>>>>> 99bbde85768e4aa70311e268685a49ac8ce3328b
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Pragma": [
          "no-cache"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "14843"
        ],
        "x-ms-request-id": [
          "5e2cf2d2-f05a-45cf-88c9-68242044d889"
        ],
        "x-ms-correlation-request-id": [
          "5e2cf2d2-f05a-45cf-88c9-68242044d889"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20160617T042820Z:5e2cf2d2-f05a-45cf-88c9-68242044d889"
=======
          "14997"
        ],
        "x-ms-request-id": [
[...]
    {
      "RequestUri": "/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourcegroups/onesdk9783/deployments/onesdk4120/operations?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
=======
      "RequestUri": "/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourcegroups/onesdk3401/providers/Microsoft.Resources/deployments/onesdk7215?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourceGroups/onesdk3401/providers/Microsoft.Resources/deployments/onesdk7215\",\r\n  \"name\": \"onesdk7215\",\r\n  \"properties\": {\r\n    \"parameters\": {\r\n      \"storageAccountName\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"testvivek52f134\"\r\n      }\r\n    },\r\n    \"mode\": \"Incremental\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"timestamp\": \"2016-04-28T05:16:49.6219431Z\",\r\n    \"duration\": \"PT52.4211256S\",\r\n    \"correlationId\": \"22dea7f3-9682-46b6-8307-2af368a388d6\",\r\n    \"providers\": [\r\n      {\r\n        \"namespace\": \"Microsoft.Resources\",\r\n        \"resourceTypes\": [\r\n          {\r\n            \"resourceType\": \"deployments\",\r\n            \"locations\": [\r\n              null\r\n            ]\r\n          }\r\n        ]\r\n      }\r\n    ],\r\n    \"dependencies\": [],\r\n    \"outputResources\": [\r\n      {\r\n        \"id\": \"Microsoft.Storage/storageAccounts/testvivek52f134\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14996"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourcegroups/onesdk3401/providers/Microsoft.Resources/deployments/onesdk7215?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
>>>>>>> 99bbde85768e4aa70311e268685a49ac8ce3328b
        "User-Agent": [
          "Microsoft.Azure.Management.ResourceManager.ResourceManagementClient/1.0.0.0"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"value\": [\[...]
    {
      "RequestUri": "/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourcegroups/onesdk9783/providers/Microsoft.Resources/deployments/nestedTemplate?api-version=2016-02-01",
      "RequestMethod": "HEAD",
      "RequestBody": "",
      "RequestHeaders": {
=======
>>>>>>> 99bbde85768e4aa70311e268685a49ac8ce3328b
        "User-Agent": [
          "Microsoft.Azure.Management.ResourceManager.ResourceManagementClient/1.0.0.0"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "",
    [...]
[...]
    {
      "RequestUri": "/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourcegroups/onesdk9783/deployments/nestedTemplate/operations?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
=======
>>>>>>> 99bbde85768e4aa70311e268685a49ac8ce3328b
        "User-Agent": [
          "Microsoft.Azure.Management.ResourceManager.ResourceManagementClient/1.0.0.0"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
=======
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourceGroups/onesdk3401/providers/Microsoft.Resources/deployments/nestedTemplate/operations/C92206E739C2DFCC\",\r\n      \"operationId\": \"C92206E739C2DFCC\",\r\n      \"properties\": {\r\n        \"provisioningOperation\": \"Read\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"timestamp\": \"2016-04-28T05:16:45.7414952Z\",\r\n        \"duration\": \"PT0.8196264S\",\r\n        \"trackingId\": \"447f722f-9d06-428b-b49c-1372eb774e82\",\r\n        \"statusCode\": \"OK\",\r\n        \"targetResource\": {\r\n          \"id\": \"/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourceGroups/onesdk3401/providers/Microsoft.Storage/storageAccounts/testvivek52f134\",\r\n          \"resourceType\": \"Microsoft.Storage/storageAccounts\",\r\n          \"resourceName\": \"testvivek52f134\",\r\n          \"apiVersion\": \"2016-01-01\"\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourceGroups/onesdk3401/providers/Microsoft.Resources/deployments/nestedTemplate/operations/B79FC405188ED348\",\r\n      \"operationId\": \"B79FC405188ED348\",\r\n      \"properties\": {\r\n        \"provisioningOperation\": \"Create\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"timestamp\": \"2016-04-28T05:16:44.0778756Z\",\r\n        \"duration\[...]
[...]
    {
      "RequestUri": "/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourcegroups/onesdk9783?api-version=2016-02-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1190"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1PTkVTREs5NzgzLUVBU1RVUyIsImpvYkxvY2F0aW9uIjoiZWFzdHVzIn0?api-version=2016-02-01"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1PTkVTREs5NzgzLUVBU1RVUyIsImpvYkxvY2F0aW9uIjoiZWFzdHVzIn0?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14825"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1PTkVTREs5NzgzLUVBU1RVUyIsImpvYkxvY2F0aW9uIjoiZWFzdHVzIn0?api-version=2016-02-01"
        ]
      },
      "StatusCode": 202
    },
[...]
