{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourcegroups/onesdk5918?api-version=2016-02-01",
=======
      "RequestUri": "/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourcegroups/onesdk2873?api-version=2016-02-01",
>>>>>>> 99bbde85768e4aa70311e268685a49ac8ce3328b
      "RequestMethod": "HEAD",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "d51a268b-409b-47c8-a30a-f4c862685ec6"
=======
          "63e6c436-350b-451d-b6a4-9f2ee625d825"
>>>>>>> 99bbde85768e4aa70311e268685a49ac8ce3328b
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.ResourceManager.ResourceManagementClient/1.0.0.0"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14988"
        ]
<<<<<<< HEAD
          "ed3c1ea8-5471-478b-8778-241489b8e149"
        ],
        "x-ms-correlation-request-id": [
          "ed3c1ea8-5471-478b-8778-241489b8e149"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20160617T050149Z:ed3c1ea8-5471-478b-8778-241489b8e149"
=======
          "f1a4eede-0adf-4322-b7ba-17a8ce7a4b8d"
        ],
        "x-ms-correlation-request-id": [
          "f1a4eede-0adf-4322-b7ba-17a8ce7a4b8d"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20160428T054813Z:f1a4eede-0adf-4322-b7ba-17a8ce7a4b8d"
>>>>>>> 99bbde85768e4aa70311e268685a49ac8ce3328b
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
<<<<<<< HEAD
          "Fri, 17 Jun 2016 05:01:49 GMT"
=======
          "Thu, 28 Apr 2016 05:48:12 GMT"
>>>>>>> 99bbde85768e4aa70311e268685a49ac8ce3328b
        ]
      },
      "StatusCode": 404
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourcegroups/onesdk5918?api-version=2016-02-01",
=======
      "RequestUri": "/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourcegroups/onesdk2873?api-version=2016-02-01",
>>>>>>> 99bbde85768e4aa70311e268685a49ac8ce3328b
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
<<<<<<< HEAD
          "0393d197-248f-438d-b05d-332aa4c0d4b5"
=======
          "e8043d32-c3fb-4449-a3ba-cee55fd56273"
>>>>>>> 99bbde85768e4aa70311e268685a49ac8ce3328b
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.ResourceManager.ResourceManagementClient/1.0.0.0"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourceGroups/onesdk5918\",\r\n  \"name\": \"onesdk5918\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourceGroups/onesdk2873\",\r\n  \"name\": \"onesdk2873\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
>>>>>>> 99bbde85768e4aa70311e268685a49ac8ce3328b
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1197"
        ],
        "x-ms-request-id": [
          "d4740e88-5310-4c20-a3f4-b670f1982c30"
        ],
        "x-ms-correlation-request-id": [
          "d4740e88-5310-4c20-a3f4-b670f1982c30"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20160617T050150Z:d4740e88-5310-4c20-a3f4-b670f1982c30"
=======
          "1194"
        ],
        "x-ms-request-id": [
          "7891f4cf-897b-4e23-92b7-4e97440b15e7"
        ],
        "x-ms-correlation-request-id": [
          "7891f4cf-897b-4e23-92b7-4e97440b15e7"
        ],
[...]
    {
      "RequestUri": "/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourcegroups/onesdk2873/providers/Microsoft.Resources/deployments/onesdk6914?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
>>>>>>> 99bbde85768e4aa70311e268685a49ac8ce3328b
        "User-Agent": [
          "Microsoft.Azure.Management.ResourceManager.ResourceManagementClient/1.0.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourceGroups/onesdk2873/providers/Microsoft.Resources/deployments/onesdk6914\",\r\n  \"name\": \"onesdk6914\",\r\n  \"properties\": {\r\n    \"parameters\": {\r\n      \"hostingPlanName\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"xDeploymentTestHost26668\"\r\n      },\r\n      \"siteLocation\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"East US\"\r\n      },\r\n      \"sku\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"Basic\"\r\n      },\r\n      \"workerSize\": {\r\n        \"type\": \"Int\",\r\n        \"value\": 0\r\n      }\r\n    },\r\n    \"mode\": \"Incremental\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"timestamp\": \"2016-04-28T05:48:45.0257191Z\",\r\n    \"duration\": \"PT23.6666194S\",\r\n    \"correlationId\": \"e9ba110b-a35f-4f1b-930f-59bc94e5cd17\",\r\n    \"providers\": [\r\n      {\r\n        \"namespace\": \"Microsoft.Web\",\r\n        \"resourceTypes\": [\r\n          {\r\n            \"resourceType\": \"serverfarms\",\r\n            \"locations\": [\r\n              \"eastus\"\r\n            ]\r\n          }\r\n        ]\r\n      }\r\n    ],\r\n    \"dependencies\": [],\r\n    \"outputResources\": [\r\n      {\r\n        \"id\": \"Microsoft.Web/serverfarms/xDeploymentTestHost26668\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "14998"
        ],
        "x-ms-request-id": [
          "83521830-b300-4c1c-ba81-8baa25b42f1a"
        ],
        "x-ms-correlation-request-id": [
          "83521830-b300-4c1c-ba81-8baa25[...]
[...]
