{
  "Entries": [
    {
      "RequestUri": "/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourcegroups/TestSDK0123?api-version=2016-02-01",
      "RequestMethod": "HEAD",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "ee2e1d1e-695c-42a5-ba3f-9914b492357a"
=======
          "e78a2cfa-c3a9-4666-a000-f9ed6a39a6b4"
>>>>>>> 99bbde85768e4aa70311e268685a49ac8ce3328b
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.ResourceManager.ResourceManagementClient/1.0.0.0"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "14973"
        ],
        "x-ms-request-id": [
          "3a0f5ba8-6a9b-4a5b-a58c-cb914b76346b"
        ],
        "x-ms-correlation-request-id": [
          "3a0f5ba8-6a9b-4a5b-a58c-cb914b76346b"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20160617T045822Z:3a0f5ba8-6a9b-4a5b-a58c-cb914b76346b"
=======
          "14999"
        ],
        "x-ms-request-id": [
          "648dc098-80e2-41a9-b1bc-093668e3f96c"
        ],
        "x-ms-correlation-request-id": [
          "648dc098-80e2-41a9-b1bc-093668e3f96c"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20160428T053523Z:648dc098-80e2-41a9-b1bc-093668e3f96c"
>>>>>>> 99bbde85768e4aa70311e268685a49ac8ce3328b
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
<<<<<<< HEAD
          "Fri, 17 Jun 2016 04:58:22 GMT"
=======
          "Thu, 28 Apr 2016 05:35:22 GMT"
>>>>>>> 99bbde85768e4aa70311e268685a49ac8ce3328b
        ]
      },
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourcegroups/TestSDK0123?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
<<<<<<< HEAD
          "6b9a71ec-775d-415b-ae18-f1729efb6696"
=======
          "6c4613eb-7574-4bd9-b347-a1de31b982f9"
>>>>>>> 99bbde85768e4aa70311e268685a49ac8ce3328b
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.ResourceManager.ResourceManagementClient/1.0.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourceGroups/TestSDK0123\",\r\n  \"name\": \"TestSDK0123\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1193"
        ],
        "x-ms-request-id": [
          "919a9bd1-9539-45eb-8714-712c6add80bb"
        ],
        "x-ms-correlation-request-id": [
          "919a9bd1-9539-45eb-8714-712c6add80bb"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20160617T045823Z:91[...]
    {
      "RequestUri": "/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourcegroups/TestSDK0123/providers/Microsoft.Resources/deployments/Test?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
>>>>>>> 99bbde85768e4aa70311e268685a49ac8ce3328b
        "User-Agent": [
          "Microsoft.Azure.Management.ResourceManager.ResourceManagementClient/1.0.0.0"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourceGroups/TestSDK0123/providers/Microsoft.Resources/deployments/Test/operations/08587354673803816245\",\r\n      \"operationId\": \"08587354673803816245\",\r\n      \"properties\": {\r\n        \"provisioningOperation\": \"EvaluateDeploymentOutput\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"timestamp\": \"2016-06-17T04:58:27.697073Z\",\r\n        \"duration\": \"PT0.3141084S\",\r\n        \"trackingId\": \"9d692f79-1e0a-4331-8775-cabaf421e8c5\",\r\n        \"statusCode\": \"OK\",\r\n        \"statusMessage\": null\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourceGroups/TestSDK0123/providers/Microsoft.Resources/deployments/Test\",\r\n  \"name\": \"Test\",\r\n  \"properties\": {\r\n    \"templateLink\": {\r\n      \"uri\": \"https://gallery.azure.com/artifact/20140901/Microsoft.ResourceGroup.1.0.0/DeploymentTemplates/Template.json\",\r\n      \"contentVersion\": \"1.0.0.0\"\r\n    },\r\n    \"parameters\": {},\r\n    \"mode\": \"Incremental\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"timestamp\": \"2016-04-28T05:35:34.7888501Z\",\r\n    \"duration\": \"PT2.5883822S\",\r\n    \"correlationId\": \"149ddae2-aeab-4176-a59c-cc382aa83d59\",\r\n    \"providers\": [],\r\n    \"dependencies\": [],\r\n    \"outputResources\": []\r\n  }\r\n}",
      "ResponseHeaders": {
>>>>>>> 99bbde85768e4aa70311e268685a49ac8ce3328b
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Pragma": [
          "no-cache"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "14972"
        ],
        "x-ms-request-id": [
          "521f1be4-81e6-40e7-9305-8411ad498d3a"
        ],
        "x-ms-correlation-request-id": [
          "521f1be4-81e6-40e7-9305-8411ad498d3a"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20160617T045831Z:521f1be4-81e6-40e7-9305-8411ad498d3a"
=======
          "14997"
        ],
        "x-ms-request-id": [
[...]
    {
      "RequestUri": "/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourcegroups/TestSDK0123/deployments/Test/operations?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
>>>>>>> 99bbde85768e4aa70311e268685a49ac8ce3328b
        "User-Agent": [
          "Microsoft.Azure.Management.ResourceManager.ResourceManagementClient/1.0.0.0"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/fb3a3d6b-44c[...]
    {
      "RequestUri": "/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnREZWxldGlvbkpvYi1HTlMtVEVTVFNESzAxMjMtVEVTVC0iLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
>>>>>>> 99bbde85768e4aa70311e268685a49ac8ce3328b
        "User-Agent": [
          "Microsoft.Azure.Management.ResourceManager.ResourceManagementClient/1.0.0.0"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ]
<<<<<<< HEAD
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1190"
        ],
        "x-ms-request-id": [
          "373b2402-66e6-4821-b7d9-86f789e23431"
        ],
        "x-ms-correlation-request-id": [
          "373b2402-66e6-4821-b7d9-86f789e23431"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20160617T045833Z:373b2402-66e6-4821-b7d9-86f789e23431"
=======
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14993"
        ],
        "x-ms-request-id": [
          "e752d596-4f26-4f53-bdbc-0c591bb1ce13"
        ],
        "x-ms-correlation-request-id": [
          "e752d596-4f26-4f53-bdbc-0c591bb1ce13"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20160428T053636Z:e752d596-4f26-4f53-bdbc-0c591bb1ce13"
>>>>>>> 99bbde85768e4aa70311e268685a49ac8ce3328b
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
<<<<<<< HEAD
          "Fri, 17 Jun 2016 04:58:33 GMT"
=======
          "Thu, 28 Apr 2016 05:36:35 GMT"
>>>>>>> 99bbde85768e4aa70311e268685a49ac8ce3328b
        ],
        "Location": [
          "https://management.azure.com/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnREZWxldGlvbkpvYi1HTlMtVEVTVFNESzAxMjMtVEVTVC0iLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2016-02-01"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1URVNUU0RLMDEyMy1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          [...]
[...]
